
.container-fluid{
  justify-content: center;
  border: #c1c1c1 solid 1px;
  border-radius: 5px;
  align-items: center;
}
.register-container{
  width : 30%;
  height : 30%;
  margin : 10px;
  color: black;
  padding-left: 2em;
  padding-right: 2em;

  font-weight: bold;
  text-align: left;
 
}

#register{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#root{
  height : 60em;
}